<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>글목록</h3>
<a href="/board/add">글작성</a><br/>
<form action="/board/getbywriter" method="post">
작성자:<input type="text" name="writer">
<input type="submit" value="검색">
</form>
<form action="/board/getbytitle" method="post">
제목:<input type="text" name="title">
<input type="submit" value="검색">
</form>
<table border="1">
<tr><th>글번호</th><th>제목</th><th>작성자</th></tr>
<tr th:each="b:${list}">
	<td th:text="${b.num }"></td>
<td><a th:href="@{/board/edit(num=${b.num })}" th:text="${b.title }"></a></td>
<td th:text="${b.writer.id }"></td>
</tr>
</table>
</body>
</html>