<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>자료실</h3>
<a href="/data/add">글작성</a><br/>
<form action="/data/getbyfname" method="post">
파일종류로 검색: 
<select name="type">
<option>jpg</option>
<option>pdf</option>
<option>txt</option>
<option>exe</option>
<option>zip</option>
</select>
<input type="submit" value="검색" id="search">
</form>
<table border="1">
<tr><th>제목</th><th>파일명</th><th>작성자</th><th>다운로드수</th></tr>
<tr th:each="f:${list}">
	<td th:text="${f.title }"></td>
	<td><a th:href="@{/data/detail(num=${f.num })}" th:text="${f.fname }"></a></td>
	<td th:text="${f.writer.id }"></td>
	<td th:text="${f.cnt }"></td>
</tr>
</table>
</c:if>
</body>
</html>